spImagesDirectory=images/
spImagesPrefix=img
spImagesSuffix=.png
spNumOfImages=50
spPCADimension=15
spPCAFilename=filename.txt
spNumOfFeatures=10
#exception will be thrown since it has to be true\false value.
spExtractionMode=bad
spNumOfSimilarImages=12
spKDTreeSplitMethod=RANDOM
spKNN=10
spMinimalGUI=true
spLoggerLevel=1
spLoggerFilename=logger.txt