spImagesDirectory=images/
spImagesPrefix=img
spImagesSuffix=.png
spNumOfImages=50
spPCADimension=15
spPCAFilename=filename.txt
spNumOfFeatures=10
spExtractionMode=true
spNumOfSimilarImages=12
spKDTreeSplitMethod=RANDOM
#must be positive - will throw exception
spKNN=-1
spMinimalGUI=true
spLoggerLevel=1
spLoggerFilename=logger.txt