spImagesDirectory=Directory/
spImagesPrefix=img
spImagesSuffix=.png
spNumOfImages=50
spPCADimension=15
spPCAFilename=filename.txt
spNumOfFeatures=10
spExtractionMode=true
spNumOfSimilarImages=12
spKDTreeSplitMethod=RANDOM
spKNN=10
spMinimalGUI=true
#will cause exception cause logger level is 1/2/3
spLoggerLevel=10
spLoggerFilename=logger.txt