spImagesDirectory=images/
spImagesPrefix=img
spImagesSuffix=.png
spNumOfImages=50
spPCADimension=15
spPCAFilename=filename.txt
spNumOfFeatures=10
spExtractionMode=true
spNumOfSimilarImages=12
spKDTreeSplitMethod=RANDOM
spKNN=10
spMinimalGUI=true
#spLoggerLevel=1 -> will set to default:3
spLoggerFilename=logger.txt