spImagesDirectory=Directory/
spImagesPrefix=img
spImagesSuffix=.png
spNumOfImages=50
#spPCADimension=15 -> will set to 20, default
spPCAFilename=filename.txt
spNumOfFeatures=10
spExtractionMode=true
spNumOfSimilarImages=12
spKDTreeSplitMethod=RANDOM
spKNN=10
spMinimalGUI=true
spLoggerLevel=1
spLoggerFilename=logger.txt