spImagesDirectory=Directory/
spImagesPrefix=img
spImagesSuffix=.png
spNumOfImages=50
#will cause exception since value is between 10 and 28
spPCADimension=30
spPCAFilename=filename.txt
spNumOfFeatures=10
spExtractionMode=true
spNumOfSimilarImages=12
spKDTreeSplitMethod=RANDOM
spKNN=10
spMinimalGUI=true
spLoggerLevel=1
spLoggerFilename=logger.txt